<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partners</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/boards/2pBoard.css">
    <link rel="stylesheet" href="/css/partners2p.css">

    

    <script
      src="https://kit.fontawesome.com/86cff0f4ad.js"
      crossorigin="anonymous"
    ></script>
    <!-- Icons -->
  </head>
  <body>
    <%- body %>
  </body>
</html>
