<!--Her laver vi 2 personer partners, layout -->
<div class="partners2p">
    <%- include("./partials/header.ejs")%>
        <div class="partners2p-body">
            <%- include("./partials/2pBoard.ejs")%>
        </div>
</div>